---

---

<header class="flex flex-col justify-center items-center py-14">
  <p>Tyler Richards Designs</p>
  <nav class="">
    <ul class="flex gap-4 justify-between w-96 max-w-full">
      <li><a href="/">Home</a></li>
      <li>
        <a href="/portfolio">Portfolio</a>
      </li>
      <li><a href="/about">Contact</a></li>
    </ul>
  </nav>

  <style>
    p {
      font-family: "Roboto Flex Variable", sans-serif;
      font-size: 98px;
      font-weight: 900;
      color: #d67f4b;
      text-transform: uppercase;
      line-height: 1.15;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    }
    li {
      font-family: "Inter Variable", sans-serif;
      font-size: 20px;
      @apply text-gray-dark font-semibold uppercase;
    }
  </style>
</header>
